<%= form_for Comment.new do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <%= hidden_field_tag :micropost_id, micropost.id %>
  <%#= hidden_field_tag :comment_id, comment.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= "jkfjgvjekbv" %>
