<%= form_for Comment.new do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <%= hidden_field_tag :micropost_id, micropost.id %>
  <%#= hidden_field_tag :comment_id, comment.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% comment = Comment.where(micropost_id: micropost.id)%>
<% unless comment.nil? %>
<% comment.each do|comnt|%>
  <%= comnt.content%>
 <% end %> 
 <% end %>
